<nav id="sidebar-icon-links">
  {% if site.email %}
    <a id="email-link"
       class="icon" title="email address" aria-label="email address"
       href="mailto:{{ site.email }}">
      {% include svg/email.svg %}
    </a>
  {% endif %}
  
  {% if site.linkedin %}
    <a id="linkedin-link"
       class="icon" title="linkedin Profile" aria-label="linkedin Profile"
       href="{{ site.linkedin }}">
      {% include svg/linkedin.svg %}
    </a>
  {% endif %}
  
  {% if site.hydeout.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.hydeout.repo }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}
  
  {% if site.scholar %}
    <a id="scholar-link"
       class="icon" title="scholar Profile" aria-label="scholar Profile"
       href="{{ site.scholar }}">
      {% include svg/Scholar.svg %}
    </a>
  {% endif %}


  


   
  {% include custom-icon-links.html %}
</nav>
