<div id="sidebar">
  
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
        {% endunless %}
		<img align="center" src="https://hantingye.github.io/assets/images/Hanting Ye_web_v3_v21102024.jpg" width = "150"  alt="Photo">
        {{ site.title}}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
	
  <div style="width: 0px; height: 0px; overflow: hidden;">
    <span>
	  <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=MP7YQkmdAqyhIPRrWA4elr8MWRlK4zniy6GHaliwEhs&cl=ffffff&w=a"></script>
    <span>
  </div>

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
